<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">    
        <div class="box">
            <h2 class="box__title">Login</h2>
            <form class="login" th:action="@{/validar}" method="post">
                <div class="login__inputBox">
                    <input type="text" name="user" required="true">
                    <label>Username</label>
                </div>
                <div class="login__inputBox">
                    <input type="password" name="pass" required="true">
                    <label>password</label>
                </div>
                <input type="submit" name="" class="btn btn--sky" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>